body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#board {
    position: absolute;
    width: 700px;
    height: 600px;
    top: 0;
    left: 0;
    background-color: blue;
}

.spot {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px blue solid;
}

.empty {
    background: white;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}

#setupBar {
    position: absolute;
    top: 600px;
    left: 0;
    width: 700px;
    height: 100px;
    background-color: blue;
}

.button {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 10%;  
    text-align: center;
    font-size: 16px;
}

#status {
    position: absolute;
    top: 700px;
    left: 0;
    width: 700px;
    height: 50px;
    font-size: 16px;  
}